<header class="site-header" role="banner" aria-label="Site Header">
  <div class="wrapper">
    <div class="grid grid--table">
      <div class="grid__item medium-down--2 large--hide">
        <button type="button" aria-label="Menu" data-drawer-toggle data-drawer-left-toggle>
          {% render 'icon-menu' %}
        </button>
      </div>

      <div class="grid__item medium-down--8 large--6">
        <div class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
          <a href="{{ routes.root_url }}" itemprop="url" title="{{ shop.name }} Logo">
            {% if section.settings.logo != blank %}
              <img src="{{ section.settings.logo | img_url: '1024x1024' }}" alt="{{ shop.name }} Logo" itemprop="logo">
            {% else %}
              <h2>{{ shop.name }}</h2>
            {% endif %}
          </a>
        </div>
      </div>

      <div class="grid__item medium-down--2 large--6 text-right">
        {% if settings.ajaxcart == true %}
          <button type="button" aria-label="Cart" data-drawer-toggle data-drawer-right-toggle>
            {% render 'icon-cart' %}
          </button>
        {% else %}
          <a href="{{ routes.cart_url }}" title="{{ 'cart.general.title' | t }}">
            {% render 'icon-cart' %}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<nav class="site-nav medium-down--hide" role="navigation">
  <div class="wrapper">
    <ul>
      {% for link in linklists[section.settings.menu].links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li class="{% if link.active %}site-nav--has-dropdown site-nav--active{% else %}site-nav--has-dropdown{% endif %}" tabindex="0">
            <a class="site-nav__link {% if forloop.first %}site-nav__link--first{% endif %}" href="{{ link.url }}" title="{{ link.title }}">
              {{ link.title }}
              {% render 'icon-chevron-down' %}
            </a>

            <ul class="site-nav__dropdown">
              {% for childlink in linklists[child_list_handle].links %}
                <li {% if childlink.active %} class="site-nav--active"{% endif %}>
                  <a class="site-nav__link" href="{{ childlink.url }}" title="{{ childlink.title }}">{{ childlink.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li {% if link.active %} class="site-nav--active"{% endif %}>
            <a class="site-nav__link {% if forloop.first %}site-nav__link--first{% endif %}" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}