<script src="{{ 'product.js' | asset_url }}" defer="defer"></script>
{{ 'product.css' | asset_url | stylesheet_tag }}

<div class="container">
  <div class="product" data-product>
    {% assign current_variant = product.selected_or_first_available_variant %}
    {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

    <div class="row">
      <div class="col-md-6">
        <div class="product__images">
          {% for image in product.images %}
            <div id="image-{{ forloop.index }}"
                role="tab-panel"
                aria-label="{{ product.title }} Image {{ forloop.index }}"
                aria-labelledby="thumbnail-{{ forloop.index }}">
              {% capture product_image_state %}
                {% unless featured_image == image %}
                  hide
                {% endunless %}
              {% endcapture %}

              {% render 'responsive-image' with
                image: image,
                max_width: 800,
                max_height: 800,
                wrapper_class: product_image_state,
                wrapper_attributes: "data-product-image-wrapper"
              %}
            </div>
          {% endfor %}
        </div>

        {% if product.images.size > 1 %}
          <ul class="product__thumbnails row inline-list" role="tablist" aria-label="{{ product.title }} Thumbnails">
            {% for image in product.images %}
              <li id="thumbnail-{{ forloop.index }}"
                  class="col-3"
                  tabindex="0"
                  role="tab"
                  aria-label="{{ product.title }} Thumbnail {{ forloop.index }}"
                  aria-controls="image-{{ forloop.index }}"
                  aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                  data-image-id="{{ image.id }}"
                  data-product-thumbnail>
                {% render 'responsive-image' with
                  image: image,
                  max_width: 100,
                  max_height: 100,
                  id_suffix: 'thumbnail'
                %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="col-md-6">
        <form class="product__form form-vertical"
              action="{{ routes.cart_add_url }}"
              method="post"
              enctype="multipart/form-data"
              data-product-form>

          <h1>{{ product.title }}</h1>

          <div class="product__meta">
            <span class="product__price" data-product-price>
              {{ current_variant.price | money }}
            </span>

            {% if product.compare_at_price_max > product.price %}
              <span class="product__price product__price--compare" data-product-compare-price>
                {{ current_variant.compare_at_price | money }}
              </span>
            {% endif %}
          </div>

          <select name="id" id="productSelect-{{ product.id }}" data-product-select>
            {% for variant in product.variants %}
              {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">
                  {{ variant.title }} - {{ variant.price | money_with_currency }}
                </option>
              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>

          <button type="button" name="add" class="product__submit btn" data-product-submit>
            <span class="visually-hidden">{{ product.title }} - <span data-product-price></span></span>
            <span data-product-submit-text>{{ 'products.product.add_to_cart' | t }}</span>
          </button>
        </form>

        {% if product.description != blank %}
          <div class="product__description rte">
            {{ product.description }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% render 'schema-product' %}

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var selectCallback = function(variant, selector) {
      product.form({
        variant: variant,
        selector: selector
      });
    };

    new Shopify.OptionSelectors('productSelect-{{ product.id }}', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: false
    });
  });
</script>