{% paginate blog.articles by 5 %}
  <div class="grid">
    <div class="grid__item large--8 push--large--2">
      <h1 class="text-center">{{ blog.title }}</h1>

      {% for article in blog.articles %}
        <div class="blog__article">
          {% if article.image %}
            <a class="image-link" href="{{ article.url }}" title="{{ article.title }}">
              {% render 'responsive-image' with
                image: article.image,
                max_width: 1024,
                max_height: 1024
              %}
            </a>
          {% endif %}

          <h4>
            <a href="{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a>
          </h4>

          {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
          <p>{{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}</p>

          <div class="rte">
            {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
            {% else %}
              <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
            {% endif %}
          </div>

          <a href="{{ article.url }}" title="{{ article.title }} {{ 'blogs.article.read_more' | t }}">{{ 'blogs.article.read_more' | t }} &rarr;</a>
        </div>

        {% unless forloop.last %}<hr>{% endunless %}
      {% endfor %}

      {% if paginate.pages > 1 %}
        {% render 'pagination', paginate: paginate %}
      {% endif %}
    </div>
  </div>
{% endpaginate %}